<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{162,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,232}}</string>
                <key>sourceSize</key>
                <string>{162,232}</string>
            </dict>
            <key>down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{162,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,232}}</string>
                <key>sourceSize</key>
                <string>{162,232}</string>
            </dict>
            <key>down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{159,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,232}}</string>
                <key>sourceSize</key>
                <string>{159,232}</string>
            </dict>
            <key>left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{259,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,253}}</string>
                <key>sourceSize</key>
                <string>{259,253}</string>
            </dict>
            <key>left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{259,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,253}}</string>
                <key>sourceSize</key>
                <string>{259,253}</string>
            </dict>
            <key>left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{159,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,232}}</string>
                <key>sourceSize</key>
                <string>{159,232}</string>
            </dict>
            <key>right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1},{259,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,253}}</string>
                <key>sourceSize</key>
                <string>{259,253}</string>
            </dict>
            <key>right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1},{259,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,253}}</string>
                <key>sourceSize</key>
                <string>{259,253}</string>
            </dict>
            <key>right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{159,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,232}}</string>
                <key>sourceSize</key>
                <string>{159,232}</string>
            </dict>
            <key>up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1},{176,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,296}}</string>
                <key>sourceSize</key>
                <string>{176,296}</string>
            </dict>
            <key>up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1},{176,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,296}}</string>
                <key>sourceSize</key>
                <string>{176,296}</string>
            </dict>
            <key>up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1},{159,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,232}}</string>
                <key>sourceSize</key>
                <string>{159,232}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>can.png</string>
            <key>size</key>
            <string>{1145,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cee289a1c4007b554808b0cf9e2a5d5a:aa68563a80f665f5fc4ff142ff0b32b6:a66f633c61c31300ee1b7168c186169e$</string>
            <key>textureFileName</key>
            <string>can.png</string>
        </dict>
    </dict>
</plist>
