<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,631},{147,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,239}}</string>
                <key>sourceSize</key>
                <string>{147,239}</string>
            </dict>
            <key>down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,631},{147,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,239}}</string>
                <key>sourceSize</key>
                <string>{147,239}</string>
            </dict>
            <key>down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{126,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,240}}</string>
                <key>sourceSize</key>
                <string>{126,240}</string>
            </dict>
            <key>left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{249,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,240}}</string>
                <key>sourceSize</key>
                <string>{249,240}</string>
            </dict>
            <key>left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{249,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,240}}</string>
                <key>sourceSize</key>
                <string>{249,240}</string>
            </dict>
            <key>left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{126,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,240}}</string>
                <key>sourceSize</key>
                <string>{126,240}</string>
            </dict>
            <key>right-attack - Copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{249,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,239}}</string>
                <key>sourceSize</key>
                <string>{249,239}</string>
            </dict>
            <key>right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{249,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,239}}</string>
                <key>sourceSize</key>
                <string>{249,239}</string>
            </dict>
            <key>right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{126,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,240}}</string>
                <key>sourceSize</key>
                <string>{126,240}</string>
            </dict>
            <key>up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,780},{142,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,319}}</string>
                <key>sourceSize</key>
                <string>{142,319}</string>
            </dict>
            <key>up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,780},{142,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,319}}</string>
                <key>sourceSize</key>
                <string>{142,319}</string>
            </dict>
            <key>up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,252},{126,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,240}}</string>
                <key>sourceSize</key>
                <string>{126,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hydrant.png</string>
            <key>size</key>
            <string>{242,1100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27151197b72d33b057d2b6f21e415f71:1828b05a9a83b45c17fd3b8c2fde835d:cfc9069198e2e779a1fe202406c6dbc5$</string>
            <key>textureFileName</key>
            <string>hydrant.png</string>
        </dict>
    </dict>
</plist>
