<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,150},{105,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,174}}</string>
                <key>sourceSize</key>
                <string>{105,174}</string>
            </dict>
            <key>down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,173},{74,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,195}}</string>
                <key>sourceSize</key>
                <string>{74,195}</string>
            </dict>
            <key>down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,150},{105,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,167}}</string>
                <key>sourceSize</key>
                <string>{105,167}</string>
            </dict>
            <key>left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{213,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,147}}</string>
                <key>sourceSize</key>
                <string>{213,147}</string>
            </dict>
            <key>left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1},{174,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,147}}</string>
                <key>sourceSize</key>
                <string>{174,147}</string>
            </dict>
            <key>left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1},{170,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,171}}</string>
                <key>sourceSize</key>
                <string>{170,171}</string>
            </dict>
            <key>right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1},{212,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,147}}</string>
                <key>sourceSize</key>
                <string>{212,147}</string>
            </dict>
            <key>right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1},{175,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,147}}</string>
                <key>sourceSize</key>
                <string>{175,147}</string>
            </dict>
            <key>right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1},{170,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,171}}</string>
                <key>sourceSize</key>
                <string>{170,171}</string>
            </dict>
            <key>up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1},{165,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,158}}</string>
                <key>sourceSize</key>
                <string>{165,158}</string>
            </dict>
            <key>up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,150},{74,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,203}}</string>
                <key>sourceSize</key>
                <string>{74,203}</string>
            </dict>
            <key>up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,150},{103,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,195}}</string>
                <key>sourceSize</key>
                <string>{103,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rabbit.png</string>
            <key>size</key>
            <string>{1288,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41c930d03ae7d39bd8d2942273cfae3c:cb0648ecee9e464eb07a7ce59b268d8c:f8d53ec90c715fde90104b9a974c73ba$</string>
            <key>textureFileName</key>
            <string>rabbit.png</string>
        </dict>
    </dict>
</plist>
