<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2874,1},{1265,1465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1265,1465}}</string>
                <key>sourceSize</key>
                <string>{1265,1465}</string>
            </dict>
            <key>boss-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3229},{848,1296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{848,1296}}</string>
                <key>sourceSize</key>
                <string>{848,1296}</string>
            </dict>
            <key>boss-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2828,2329},{1201,1364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1201,1364}}</string>
                <key>sourceSize</key>
                <string>{1201,1364}</string>
            </dict>
            <key>boss-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{854,1612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,1612}}</string>
                <key>sourceSize</key>
                <string>{854,1612}</string>
            </dict>
            <key>boss-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,3145},{859,1367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,1367}}</string>
                <key>sourceSize</key>
                <string>{859,1367}</string>
            </dict>
            <key>boss-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1736},{605,1407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,1407}}</string>
                <key>sourceSize</key>
                <string>{605,1407}</string>
            </dict>
            <key>boss-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1615},{854,1612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,1612}}</string>
                <key>sourceSize</key>
                <string>{854,1612}</string>
            </dict>
            <key>boss-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2828,1468},{859,1367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,1367}}</string>
                <key>sourceSize</key>
                <string>{859,1367}</string>
            </dict>
            <key>boss-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1736},{605,1407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,1407}}</string>
                <key>sourceSize</key>
                <string>{605,1407}</string>
            </dict>
            <key>boss-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1},{811,1573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{811,1573}}</string>
                <key>sourceSize</key>
                <string>{811,1573}</string>
            </dict>
            <key>boss-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,814},{920,1413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,1413}}</string>
                <key>sourceSize</key>
                <string>{920,1413}</string>
            </dict>
            <key>boss-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2071,1736},{755,1406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,1406}}</string>
                <key>sourceSize</key>
                <string>{755,1406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{4211,4078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe1d903655a9503d01355bc868fb481b:0d125af3e2a9ea3cc179fdd657412f49:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
