<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>can-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,1},{670,965}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,965}}</string>
                <key>sourceSize</key>
                <string>{670,965}</string>
            </dict>
            <key>can-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,1},{670,965}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,965}}</string>
                <key>sourceSize</key>
                <string>{670,965}</string>
            </dict>
            <key>can-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,673},{660,965}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,965}}</string>
                <key>sourceSize</key>
                <string>{660,965}</string>
            </dict>
            <key>can-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1},{1075,1054}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1075,1054}}</string>
                <key>sourceSize</key>
                <string>{1075,1054}</string>
            </dict>
            <key>can-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1},{1075,1054}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1075,1054}}</string>
                <key>sourceSize</key>
                <string>{1075,1054}</string>
            </dict>
            <key>can-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,673},{660,965}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,965}}</string>
                <key>sourceSize</key>
                <string>{660,965}</string>
            </dict>
            <key>can-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1},{1075,1054}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1075,1054}}</string>
                <key>sourceSize</key>
                <string>{1075,1054}</string>
            </dict>
            <key>can-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1},{1075,1054}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1075,1054}}</string>
                <key>sourceSize</key>
                <string>{1075,1054}</string>
            </dict>
            <key>can-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,673},{660,965}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,965}}</string>
                <key>sourceSize</key>
                <string>{660,965}</string>
            </dict>
            <key>can-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{727,1228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,1228}}</string>
                <key>sourceSize</key>
                <string>{727,1228}</string>
            </dict>
            <key>can-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{727,1228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,1228}}</string>
                <key>sourceSize</key>
                <string>{727,1228}</string>
            </dict>
            <key>can-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2842,673},{660,965}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,965}}</string>
                <key>sourceSize</key>
                <string>{660,965}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>can.png</string>
            <key>size</key>
            <string>{3808,1334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dd2a4d7b11f05a1eea08d93706fb7b4:b777aa6a31f2ba23e1d8c27d07fb7ccb:a66f633c61c31300ee1b7168c186169e$</string>
            <key>textureFileName</key>
            <string>can.png</string>
        </dict>
    </dict>
</plist>
