<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1},{591,886}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,886}}</string>
                <key>sourceSize</key>
                <string>{591,886}</string>
            </dict>
            <key>cat-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{524,971}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,971}}</string>
                <key>sourceSize</key>
                <string>{524,971}</string>
            </dict>
            <key>cat-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,974},{459,875}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,875}}</string>
                <key>sourceSize</key>
                <string>{459,875}</string>
            </dict>
            <key>cat-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1},{874,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,604}}</string>
                <key>sourceSize</key>
                <string>{874,604}</string>
            </dict>
            <key>cat-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,904},{858,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{858,567}}</string>
                <key>sourceSize</key>
                <string>{858,567}</string>
            </dict>
            <key>cat-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2614,861},{791,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{791,607}}</string>
                <key>sourceSize</key>
                <string>{791,607}</string>
            </dict>
            <key>cat-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,877},{874,604}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,604}}</string>
                <key>sourceSize</key>
                <string>{874,604}</string>
            </dict>
            <key>cat-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2124,1},{858,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{858,567}}</string>
                <key>sourceSize</key>
                <string>{858,567}</string>
            </dict>
            <key>cat-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3055,1},{791,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{791,607}}</string>
                <key>sourceSize</key>
                <string>{791,607}</string>
            </dict>
            <key>cat-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{396,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,901}}</string>
                <key>sourceSize</key>
                <string>{396,901}</string>
            </dict>
            <key>cat-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2693,1},{360,792}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,792}}</string>
                <key>sourceSize</key>
                <string>{360,792}</string>
            </dict>
            <key>cat-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3407,610},{328,786}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,786}}</string>
                <key>sourceSize</key>
                <string>{328,786}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat.png</string>
            <key>size</key>
            <string>{3847,1482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbdb1b09e1354a33c6991321a22d6f49:4316e54edeacce0757acb109e01607c5:fcaa38ab3073044ae7fc86ca051af0c0$</string>
            <key>textureFileName</key>
            <string>cat.png</string>
        </dict>
    </dict>
</plist>
