<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1},{618,844}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,844}}</string>
                <key>sourceSize</key>
                <string>{618,844}</string>
            </dict>
            <key>dog-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,901},{618,851}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,851}}</string>
                <key>sourceSize</key>
                <string>{618,851}</string>
            </dict>
            <key>dog-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,901},{618,846}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,846}}</string>
                <key>sourceSize</key>
                <string>{618,846}</string>
            </dict>
            <key>dog-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2542,1},{766,661}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,661}}</string>
                <key>sourceSize</key>
                <string>{766,661}</string>
            </dict>
            <key>dog-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{898,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,713}}</string>
                <key>sourceSize</key>
                <string>{898,713}</string>
            </dict>
            <key>dog-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3347,1},{764,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,658}}</string>
                <key>sourceSize</key>
                <string>{764,658}</string>
            </dict>
            <key>dog-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2684,769},{766,661}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,661}}</string>
                <key>sourceSize</key>
                <string>{766,661}</string>
            </dict>
            <key>dog-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1},{898,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{898,713}}</string>
                <key>sourceSize</key>
                <string>{898,713}</string>
            </dict>
            <key>dog-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3347,767},{764,658}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,658}}</string>
                <key>sourceSize</key>
                <string>{764,658}</string>
            </dict>
            <key>dog-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2193,811},{489,733}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,733}}</string>
                <key>sourceSize</key>
                <string>{489,733}</string>
            </dict>
            <key>dog-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2051,1},{489,808}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,808}}</string>
                <key>sourceSize</key>
                <string>{489,808}</string>
            </dict>
            <key>dog-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,847},{489,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,705}}</string>
                <key>sourceSize</key>
                <string>{489,705}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dog.png</string>
            <key>size</key>
            <string>{4006,1553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1d7db59da219e526039109f6918a675:698197bb45b296d557461f981438c5f4:d4a7d43944db94624838716d30efa568$</string>
            <key>textureFileName</key>
            <string>dog.png</string>
        </dict>
    </dict>
</plist>
