<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dryer-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1},{833,962}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,962}}</string>
                <key>sourceSize</key>
                <string>{833,962}</string>
            </dict>
            <key>dryer-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1},{833,962}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,962}}</string>
                <key>sourceSize</key>
                <string>{833,962}</string>
            </dict>
            <key>dryer-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1},{833,962}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,962}}</string>
                <key>sourceSize</key>
                <string>{833,962}</string>
            </dict>
            <key>dryer-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{985,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,880}}</string>
                <key>sourceSize</key>
                <string>{985,880}</string>
            </dict>
            <key>dryer-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{985,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,880}}</string>
                <key>sourceSize</key>
                <string>{985,880}</string>
            </dict>
            <key>dryer-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{985,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,880}}</string>
                <key>sourceSize</key>
                <string>{985,880}</string>
            </dict>
            <key>dryer-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1},{985,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,880}}</string>
                <key>sourceSize</key>
                <string>{985,880}</string>
            </dict>
            <key>dryer-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1},{985,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,880}}</string>
                <key>sourceSize</key>
                <string>{985,880}</string>
            </dict>
            <key>dryer-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1},{985,880}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,880}}</string>
                <key>sourceSize</key>
                <string>{985,880}</string>
            </dict>
            <key>dryer-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2939,1},{581,1133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,1133}}</string>
                <key>sourceSize</key>
                <string>{581,1133}</string>
            </dict>
            <key>dryer-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2939,1},{581,1133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,1133}}</string>
                <key>sourceSize</key>
                <string>{581,1133}</string>
            </dict>
            <key>dryer-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2939,1},{581,1133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,1133}}</string>
                <key>sourceSize</key>
                <string>{581,1133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dryer.png</string>
            <key>size</key>
            <string>{4073,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75aa4c5f9d4633b41f796e09f78f1b18:49f9568046ad263de675d8e141c40b29:916532c2b47a93c1a53cf4c0ecacdd7d$</string>
            <key>textureFileName</key>
            <string>dryer.png</string>
        </dict>
    </dict>
</plist>
