<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1331},{611,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,995}}</string>
                <key>sourceSize</key>
                <string>{611,995}</string>
            </dict>
            <key>down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1331},{611,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,995}}</string>
                <key>sourceSize</key>
                <string>{611,995}</string>
            </dict>
            <key>down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1},{521,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,995}}</string>
                <key>sourceSize</key>
                <string>{521,995}</string>
            </dict>
            <key>left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1036,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1036,995}}</string>
                <key>sourceSize</key>
                <string>{1036,995}</string>
            </dict>
            <key>left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1036,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1036,995}}</string>
                <key>sourceSize</key>
                <string>{1036,995}</string>
            </dict>
            <key>left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1},{521,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,995}}</string>
                <key>sourceSize</key>
                <string>{521,995}</string>
            </dict>
            <key>right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,998},{1036,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1036,995}}</string>
                <key>sourceSize</key>
                <string>{1036,995}</string>
            </dict>
            <key>right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,998},{1036,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1036,995}}</string>
                <key>sourceSize</key>
                <string>{1036,995}</string>
            </dict>
            <key>right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1},{521,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,995}}</string>
                <key>sourceSize</key>
                <string>{521,995}</string>
            </dict>
            <key>up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1},{587,1328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,1328}}</string>
                <key>sourceSize</key>
                <string>{587,1328}</string>
            </dict>
            <key>up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1},{587,1328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,1328}}</string>
                <key>sourceSize</key>
                <string>{587,1328}</string>
            </dict>
            <key>up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1},{521,995}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,995}}</string>
                <key>sourceSize</key>
                <string>{521,995}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hydrant.png</string>
            <key>size</key>
            <string>{2150,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6c36be95596db6158c68bfd3bde1e75:5a40e6cf1f1bb7c411148e8d75527df3:cfc9069198e2e779a1fe202406c6dbc5$</string>
            <key>textureFileName</key>
            <string>hydrant.png</string>
        </dict>
    </dict>
</plist>
