<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pig-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,849},{392,709}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,709}}</string>
                <key>sourceSize</key>
                <string>{392,709}</string>
            </dict>
            <key>pig-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,849},{388,713}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,713}}</string>
                <key>sourceSize</key>
                <string>{388,713}</string>
            </dict>
            <key>pig-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2423,849},{388,657}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,657}}</string>
                <key>sourceSize</key>
                <string>{388,657}</string>
            </dict>
            <key>pig-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{916,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{916,496}}</string>
                <key>sourceSize</key>
                <string>{916,496}</string>
            </dict>
            <key>pig-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2179,1},{846,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,529}}</string>
                <key>sourceSize</key>
                <string>{846,529}</string>
            </dict>
            <key>pig-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1},{846,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,589}}</string>
                <key>sourceSize</key>
                <string>{846,589}</string>
            </dict>
            <key>pig-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1},{916,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{916,496}}</string>
                <key>sourceSize</key>
                <string>{916,496}</string>
            </dict>
            <key>pig-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2710,1},{846,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,529}}</string>
                <key>sourceSize</key>
                <string>{846,529}</string>
            </dict>
            <key>pig-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1},{846,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,589}}</string>
                <key>sourceSize</key>
                <string>{846,589}</string>
            </dict>
            <key>pig-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3241,430},{423,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,677}}</string>
                <key>sourceSize</key>
                <string>{423,677}</string>
            </dict>
            <key>pig-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{3241,1},{427,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,677}}</string>
                <key>sourceSize</key>
                <string>{427,677}</string>
            </dict>
            <key>pig-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3666,430},{419,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,677}}</string>
                <key>sourceSize</key>
                <string>{419,677}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pig.png</string>
            <key>size</key>
            <string>{4086,1242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d63899d6510adbd622d73e702829a45f:7c9648ed783d3b883268ff8ddbb48338:cc7484018991b35fd066a21f6d8a9d46$</string>
            <key>textureFileName</key>
            <string>pig.png</string>
        </dict>
    </dict>
</plist>
