<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rabbit-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,883},{431,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,720}}</string>
                <key>sourceSize</key>
                <string>{431,720}</string>
            </dict>
            <key>rabbit-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1},{304,808}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,808}}</string>
                <key>sourceSize</key>
                <string>{304,808}</string>
            </dict>
            <key>rabbit-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,883},{432,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,694}}</string>
                <key>sourceSize</key>
                <string>{432,694}</string>
            </dict>
            <key>rabbit-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{880,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,606}}</string>
                <key>sourceSize</key>
                <string>{880,606}</string>
            </dict>
            <key>rabbit-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,1},{724,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,608}}</string>
                <key>sourceSize</key>
                <string>{724,608}</string>
            </dict>
            <key>rabbit-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2442,1},{702,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,706}}</string>
                <key>sourceSize</key>
                <string>{702,706}</string>
            </dict>
            <key>rabbit-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1},{880,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{880,606}}</string>
                <key>sourceSize</key>
                <string>{880,606}</string>
            </dict>
            <key>rabbit-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2228,727},{724,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,608}}</string>
                <key>sourceSize</key>
                <string>{724,608}</string>
            </dict>
            <key>rabbit-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,1},{702,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,706}}</string>
                <key>sourceSize</key>
                <string>{702,706}</string>
            </dict>
            <key>rabbit-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3146,705},{683,653}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{683,653}}</string>
                <key>sourceSize</key>
                <string>{683,653}</string>
            </dict>
            <key>rabbit-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1},{307,843}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,843}}</string>
                <key>sourceSize</key>
                <string>{307,843}</string>
            </dict>
            <key>rabbit-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,846},{424,807}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,807}}</string>
                <key>sourceSize</key>
                <string>{424,807}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rabbit.png</string>
            <key>size</key>
            <string>{3853,1359}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a40c44cfa06b16fd21e07cf79e4ef2e7:63f7e07cded30e520a09d82824d04878:f8d53ec90c715fde90104b9a974c73ba$</string>
            <key>textureFileName</key>
            <string>rabbit.png</string>
        </dict>
    </dict>
</plist>
