<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1236},{579,1159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,1159}}</string>
                <key>sourceSize</key>
                <string>{579,1159}</string>
            </dict>
            <key>down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1236},{579,1159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,1159}}</string>
                <key>sourceSize</key>
                <string>{579,1159}</string>
            </dict>
            <key>down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1236},{579,1159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,1159}}</string>
                <key>sourceSize</key>
                <string>{579,1159}</string>
            </dict>
            <key>left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,838},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,838},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,838},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1},{601,1233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,1233}}</string>
                <key>sourceSize</key>
                <string>{601,1233}</string>
            </dict>
            <key>up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1},{601,1233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,1233}}</string>
                <key>sourceSize</key>
                <string>{601,1233}</string>
            </dict>
            <key>up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1},{601,1233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,1233}}</string>
                <key>sourceSize</key>
                <string>{601,1233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vacuum.png</string>
            <key>size</key>
            <string>{1998,1983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0b53c8b6f9cfec0bbf0848237613edd:327c37a4237e74783814d050d3bcf3e4:e076a7f077b95b6d6f06aa9f800075ce$</string>
            <key>textureFileName</key>
            <string>vacuum.png</string>
        </dict>
    </dict>
</plist>
