<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vacuum-down-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{841,1489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{841,1489}}</string>
                <key>sourceSize</key>
                <string>{841,1489}</string>
            </dict>
            <key>vacuum-down-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{3290,1236},{579,1159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,1159}}</string>
                <key>sourceSize</key>
                <string>{579,1159}</string>
            </dict>
            <key>vacuum-down-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3290,1236},{579,1159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,1159}}</string>
                <key>sourceSize</key>
                <string>{579,1159}</string>
            </dict>
            <key>vacuum-left-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1},{1221,1393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1221,1393}}</string>
                <key>sourceSize</key>
                <string>{1221,1393}</string>
            </dict>
            <key>vacuum-left-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1396},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>vacuum-left-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1396},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>vacuum-right-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2067,1},{1221,1393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1221,1393}}</string>
                <key>sourceSize</key>
                <string>{1221,1393}</string>
            </dict>
            <key>vacuum-right-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2073,1396},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>vacuum-right-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2073,1396},{835,1144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,1144}}</string>
                <key>sourceSize</key>
                <string>{835,1144}</string>
            </dict>
            <key>vacuum-up-attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1492},{856,1233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,1233}}</string>
                <key>sourceSize</key>
                <string>{856,1233}</string>
            </dict>
            <key>vacuum-up-move.png</key>
            <dict>
                <key>frame</key>
                <string>{{3290,1},{601,1233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,1233}}</string>
                <key>sourceSize</key>
                <string>{601,1233}</string>
            </dict>
            <key>vacuum-up-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{3290,1},{601,1233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,1233}}</string>
                <key>sourceSize</key>
                <string>{601,1233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vacuum.png</string>
            <key>size</key>
            <string>{3892,2541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ba1b2a1aa8ff2c8e00f130d57a741a9:557c58e7735938ffef5ed6b66c26a491:e076a7f077b95b6d6f06aa9f800075ce$</string>
            <key>textureFileName</key>
            <string>vacuum.png</string>
        </dict>
    </dict>
</plist>
